{% extends 'base.html' %}
{% block title %}Список показателей{% endblock %}
{% load static %}
{% block additional_css %}
<link rel="stylesheet" href="{% static 'css/tabulator/tabulator.min.css' %}" rel="stylesheet">
{% endblock %}
{% block additional_js %}
<script type="text/javascript" src="{% static 'js/tabulator/tabulator.min.js' %}"></script>
{% endblock %}
{% block content %}
    <div class="container-fluid">
        <div class="row align-items-center" style="height:500px;">
            <div class="col">
                <div class="card text-white bg-info" style="height:200px">
                    <div class="card-body align-items-center d-flex justify-content-center">
                        <a href="{% url 'tables:list' %}" class="card-link" style="color:white;word-wrap:anywhere;"><h1>Учет индикаторов</h1></a>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card text-white bg-info" style="height:200px">
                    <div class="card-body align-items-center d-flex justify-content-center">
                        <a href="{% url 'reports:list' %}" class="card-link" style="color:white;word-wrap:anywhere;"><h1>Периоды</h1></a>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card text-white bg-info" style="height:200px">
                    <div class="card-body align-items-center d-flex justify-content-center">
                        <a href="{% url 'imports:importfile' %}" class="card-link" style="color:white;word-wrap:anywhere;"><h1>Импорт данных</h1></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block scripts %}
{% endblock %}