{% extends 'base.html' %}
{% load main_extra_tags %}
{% block title %}Список показателей{% endblock %}
{% load static %}
{% block additional_css %}
<link rel="stylesheet" href="{% static 'css/tabulator/tabulator.min.css' %}" rel="stylesheet">
{% endblock %}
{% block additional_js %}
<script type="text/javascript" src="{% static 'js/tabulator/tabulator.min.js' %}"></script>
{% endblock %}
{% block content %}
    <div class="container">
        <div class="row" style="margin-top:20px;">
            {% for tag in tags %}
            <div class="col-sm-4">
                <div class="card border-primary text-dark bg-light scroll h-100">
                    <div class="card-header">{{ tag }}</div>
                    <div class="card-body">
                        <ul>
                            {% for table in dict_tables|get_field_data:tag %}
                            <li><a href="{% url 'tables:table_data' table.id %}">{{ table.name }}</a></li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
            {% if forloop.counter|divisibleby:3 %}
        </div>
        <div class="row" style="margin-top:20px;">
            {% endif %}
            {% endfor %}
        </div>
    </div>
{% endblock %}
