{% extends 'base.html' %}
{% block title %}Личный кабинет{% endblock %}
{% load static %}
{% block content %}
    {% csrf_token %}
    <div class="alert alert-danger" role="alert" id="error" style="visibility:hidden;position:fixed;top:0;left:0;width:100%;z-index:100;"></div>
    <div class="alert alert-success" role="alert" id="success" style="visibility:hidden;position:fixed;top:0;left:0;width:100%;z-index:100;"></div>
    <form method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <button class="btn btn-primary" >Изменить</button>
    </form>
{% endblock %}
{% block scripts %}
{% if success_message %}
$('#success').html("{{ success_message }}");
$('#success').css('visibility', 'visible');
$('#success').show();
$('#success').delay(5000).slideUp(500, ()=>{$(this).hide();});
{% elif form.has_error %}
$('#error').html("{{ error_message }}");
$('#error').css('visibility', 'visible');
$('#error').show();
$('#error').delay(5000).slideUp(500, ()=>{$(this).hide();});
{% endif %}
{% endblock %}