{% extends 'base.html' %}
{% block title %}Личный кабинет{% endblock %}
{% load static %}
{% block content %}
    {% csrf_token %}
    <div class="alert alert-danger" role="alert" id="error" style="visibility:hidden;position:fixed;top:0;left:0;width:100%;z-index:100;"></div>
    <div class="alert alert-success" role="alert" id="success" style="visibility:hidden;position:fixed;top:0;left:0;width:100%;z-index:100;"></div>
    <div class="container-fliud">
        <div class="row justify-content-center">
            <div class="col-5">
                <div class="card">
                    <div class="card-header">
                        Личный кабинет
                    </div>
                    <div class="card-body">
                        <form action="{% url 'users:profile' %}" method="POST">
                            {% csrf_token %}
                            {{ form.as_p }}
                            {{ email_form.as_p }}
                            <button class="btn btn-primary" >Сохранить</button>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-5">
                <div class="card">
                    <div class="card-header">
                        Изменить пароль
                    </div>
                    <div class="card-body">
                        <form action="{% url 'users:changepassword' %}" method="POST">
                            {% csrf_token %}
                            {{ pwd_form.as_p }}
                            <button class="btn btn-primary" >Изменить</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block scripts %}
{% if success_message %}
$('#success').html("{{ success_message }}");
$('#success').css('visibility', 'visible');
$('#success').show();
$('#success').delay(5000).slideUp(500, ()=>{$(this).hide();});
{% elif error_message %}
$('#error').html("{{ error_message }}");
$('#error').css('visibility', 'visible');
$('#error').show();
$('#error').delay(5000).slideUp(500, ()=>{$(this).hide();});
{% elif pwd_form.errors %}
$('#error').html(`<ul>
{% for field in pwd_form %}
{% for error in field.errors %}
<li>{{ error|escape }}</li>
{% endfor %}
{% endfor %}
</ul>`);
$('#error').css('visibility', 'visible');
$('#error').show();
$('#error').delay(7000).slideUp(500, ()=>{$(this).hide();});
{% endif %}
{% endblock %}